@model IEnumerable<PT_tool.Models.QuestionDetail>

<ul class="list-group">

    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <div class="card">
                <h6 class="card-header"><a href="@item.question.link">@item.question.title</a></h6>
                <div class="card-body">
                    <h7 class="card-title">Special title treatment</h7>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </li>
    }


</ul>
