
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Styles.Render("~/Content/css-m")




<section id="search" class="row">
    <div class="col-8">
        <form class="form-inline">
            <input id="datepicker1" placeholder="Name..." class="form-control" />
            <span class="mx-3">~</span>
            <input id="datepicker2" placeholder="Place O" class="form-control" />
        </form>
    </div>
    <div class="col-4">
        <button id="btnSearch" type="button" class="btn btn-primary float-right">Search</button>
    </div>

</section>
<hr />
<div id="QuestionTable" >



</div>


@section scripts{
    <script type="text/javascript">
        $(function () {

            var $datepicker1 = $('#datepicker1').datepicker({
                uiLibrary: 'bootstrap4',
                locale: 'zh-cn',
                format: 'yyyy-mm-dd'
            });

            var $datepicker2 = $('#datepicker2').datepicker({
                uiLibrary: 'bootstrap4',
                locale: 'zh-cn',
                format: 'yyyy-mm-dd'
            });

            //Search button
            $("#btnSearch").click(function () {

                let startDate = $datepicker1.value();
                let endDate = $datepicker2.value();

                console.log(startDate);

                $.ajax({
                    url: `/Question/GetAllQuestions?start=${startDate}&end=${endDate}`,
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html'
                })
                    .done(function (result) {
                        $('#QuestionTable').html(result);
                    })
                    .fail(function (xhr, status) {
                        alert(status);
                    });
            });



        });
    </script>
}


