
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Styles.Render("~/Content/css-m")


<section id="search" class="row">
    <div class="col-8">
        <form class="form-inline">
            <input id="datepicker1" placeholder="Name..." class="form-control" />
            <span class="mx-3">~</span>
            <input id="datepicker2" placeholder="Place O" class="form-control" />
        </form>
    </div>
    <div class="col-4">
        <button id="btnSearch" type="button" class="btn btn-primary float-right">Search</button>
    </div>

</section>
<hr />

<div id="QuestionTable">


</div>

@* 这是 modal dialog *@
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Add Topic</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <div id="tree"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">



        $(function () {

            var $datepicker1 = $('#datepicker1').datepicker({
                uiLibrary: 'bootstrap4',
                locale: 'zh-cn',
                format: 'yyyy-mm-dd'
            });

            var $datepicker2 = $('#datepicker2').datepicker({
                uiLibrary: 'bootstrap4',
                locale: 'zh-cn',
                format: 'yyyy-mm-dd'
            });

            //Search button
            $("#btnSearch").click(function () {

                let startDate = $datepicker1.value() + " +08:00";
                let endDate = $datepicker2.value() + " +08:00";

                console.log(startDate);

                $.ajax({
                    url: `/Question/GetAllQuestionsAsync?start=${startDate}&end=${endDate}&subscriptions=1834`,
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html'
                })
                    .done(function (result) {
                        $('#QuestionTable').html(result);
                    })
                    .fail(function (xhr, status) {
                        alert(status);
                    });
            });

            //

            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
            })

            // treeview
            window.data = [
                {
                    label: 'SharePoint',
                    value: '23494',
                    expanded:true,
                    children: [
                        {
                            label: 'FAST Search for SharePoint 2010',
                            value: '23495',
                            children: [
                                {
                                    label: 'Cmdlets, command-line tools, and PowerShell',
                                    value: '23496'
                                },
                                {
                                    label: 'Content Sources',
                                    value: '23497'
                                },
                                {
                                    label: 'Crawling, Processing, and Indexing',
                                    value: '23498'
                                },
                                {
                                    label: 'Deployment planning and migration',
                                    value: '23499'
                                },
                                {
                                    label: 'Installation and updates',
                                    value: '23500'
                                },
                                {
                                    label: 'Other',
                                    value: '23501'
                                },
                                {
                                    label: 'Search Queries and Results',
                                    value: '23502'
                                }
                            ]
                        },
                        {
                            label: 'Office Online Server and Office Web Apps',
                            value: '23503',
                            children: [
                                {
                                    label: 'Installation, Configuration and Updates',
                                    value: '23504'
                                },
                                {
                                    label: 'Installation, Configuration and Updates',
                                    value: '23504'
                                },
                            ]
                        }
                    ]
                }
            ];

            window.options = {
                searchBox: $('.has-search>input[placeholder="Search"]'),
            };
        });
    </script>
}


